# Flash map abstraction module

# Copyright (c) 2017 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

#
# Flash map
#

menuconfig FLASH_MAP
	bool "Flash map abstraction module"
	depends on FLASH_HAS_DRIVER_ENABLED
	help
	  Enable support of flash map abstraction.

if FLASH_MAP

config FLASH_MAP_SHELL
	bool "Enable flash map shell interface"
	depends on SHELL
	help
	  This enables shell commands to list and test flash maps.

config FLASH_MAP_CUSTOM
	bool "Custom flash map description"
	help
	  This option enables custom flash map description.
	  User must provide such a description in place of default on
	  if had enabled this option.

config FLASH_MAP_DYNAMIC
	bool "Use a dynamic flash map description"
	help
	  Instead of using a static, pre-defined flash map which is
	  linked in the zephyr binary, this option allows the user
	  to specify a dynamic map in a certain area of "flash".
	  This option is never intended to be used without mcuboot
	  and only handles very specialized cases, i.e. mcuboot wants
	  to reconfigure the flash partitions. If unsure, say N.

config FLASH_AREA_CHECK_INTEGRITY
	bool "Enable flash check functions"
	select TINYCRYPT
	select TINYCRYPT_SHA256
	help
	  If enabled, there will be available the backend to check flash
	  integrity using SHA-256 verification algorithm.

if FLASH_MAP_DYNAMIC

config MAX_DYNAMIC_PARTITIONS
	int "Max no of partitions in settings"
	default 5
	help
	  On top of the static flash map that's read from the device tree,
	  one can add dynamic partition information using settings which
	  take precendence over the static map. This option list the max
	  number of partitions one can add in settings.

endif # if FLASH_MAP_DYNAMIC
endif # if FLASH_MAP
